.adminWrapper{
   display: flex;
   flex-direction: column;
}
.toggleAdminPanel{
   margin: 1rem auto 0;
   padding: 0.5rem;
   font-size: 1.2rem;
   text-transform: uppercase;
   max-width: max-content;
   transition: all 0.3s ease-in-out;
}

.adminOptions{
   margin: 0 auto;
}
.adminOptions button{
   padding: 0.3rem;
   margin: 0.5rem;
   font-size: 1.1rem;
   transition: all 0.3s ease-in-out;
}
.toggleAdminPanel:hover,
.adminOptions button:hover{
   background-color:#6d1e93;
   color: white;
}