* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sansita', sans-serif;
  list-style: none;
  text-decoration: none;
}

.wrapper {
  padding: 3rem;
  background-color: #e5a6fb;
  max-width: 100vw;
  width: 100%;
  height: 100%;
}
.container {
  padding: 2.8rem 4.3rem 6rem;
  background-image: url(./assets/bg.jpg);
  min-height: 100vh;
}

/* logo */
.logoWrapper {
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  margin-bottom: 1.3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo img {
  margin-right: 1rem;
  width: 40px;
  height: 50px;
}
.logoName h1 {
  margin-bottom: 0.2rem;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.5rem;
}
.logoName p {
  font-size: 1rem;
  color: #7b7b7b;
}
.basket {
  margin-bottom: 1.3rem;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 1.4rem 1rem;
  background-color: #6d1e93;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
.basket p:first-child {
  margin-right: 2rem;
}
.basket * {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Roboto';
}
.basket p:first-child::after {
  position: absolute;
  top: calc(50% - 1rem);
  left: 50%;
  display: inline-block;
  margin: 0 0.5rem 0;
  content: '';
  width: 2px;
  height: 2rem;
  background-color: rgba(255, 255, 255, 0.25);
}
.basketIcon {
  margin-right: 0.3rem;
  width: 1.3rem;
  height: 1.3rem;
}
.basket:active {
  background-color: #e5a6fb;
}
.basket:active * {
  color: black;
}

/* sort */
.sortBy {
  margin-bottom: 2rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.sortByButtons > li {
  display: inline-block;
  margin: 0.4rem;
  padding: 1rem 1.5rem 1rem;
  font-size: 1.1rem;
  font-weight: 700;
  border-radius: 1.8rem;
  border: none;
  background-color: #f9f9f9;
  transition: all 0.5s;
  cursor: pointer;
  user-select: none;
}

.sortByButtons .active {
  background-color: #6d1e93;
  color: white;
}

.sortBySelect {
  display: flex;
  align-items: center;
}
.arrowDown,
.arrowTop {
  width: 10px;
  height: 10px;
  margin-right: 0.3rem;
  transform: rotate(180deg);
}
.arrowDown {
  transform: rotate(0deg);
}
.sortBySelect p {
  font-weight: bold;
}

.sortBySelect span {
  padding: 0.7rem;
  color: #6d1e93;
  border-bottom: 1px dotted #6d1e93;
  font-size: 1rem;
  cursor: pointer;
  user-select: none;
}

.select {
  position: absolute;
  top: 3.75rem;
  right: 0;
  padding: 0.8rem 0 0.8rem;
  background-color: #f9f9f9;
  border-radius: 0.6rem;
}
.select li {
  padding: 0.6rem 1rem 0.6rem;
}
.select li:hover {
  background-color: #f4dbfd;
}

/* content */
.containerContent h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
}
.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
@media (max-width: 1440px) {
  .content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1150px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 870px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }
}
.card {
  margin-bottom: 2rem;
  padding: 1rem;
  text-align: center;
  box-shadow: 3px 5px 15px 0px rgba(110, 30, 147, 0.2);
  border-radius: 5px;
}

.card h3 {
  margin-top: 0.8rem;
  margin-bottom: 1.4rem;
}

.options {
  padding: 0.4rem;
  margin-bottom: 1rem;
  background-color: #e5a6fb;
  color: white;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: bold;
}
.options1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.options1 li {
  padding: 0.4rem;
  cursor: pointer;
}
.options2 {
  margin-top: 0.4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.options2 li {
  width: 100%;
  cursor: pointer;
}
.options .active {
  padding: 0.4rem;
  background-color: white;
  color: #6d1e93;
  border-radius: 5px;
}
.options .disable {
  padding: 0.4rem;
  opacity: 0.4;
  pointer-events: none;
}

.priceInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.priceInfo p {
  font-size: 1.4rem;
  font-weight: bold;
}
.priceInfo button {
  padding: 0.5rem 0.8rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  color: #6d1e93;
  border: 1px solid #6d1e93;
  border-radius: 30px;
  transition: all 0.5s;
}
.iconPlus {
  margin-right: 0.3rem;
}
.priceInfo button span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.3rem;
  padding: 0.7rem;
  font-weight: normal;
  font-size: 1rem;
  background-color: #6d1e93;
  border-radius: 50%;
  max-width: 1.7rem;
  max-height: 1.7rem;
  color: white;
  transition: all 0.5s;
}

.priceInfo button:hover {
  background-color: #6d1e93;
  color: white;
}
.priceInfo button:hover span {
  background-color: white;
  color: #6d1e93;
}
